site_name: Quantifying Metacognition in LLMs
site_url: https://christaashok.github.io/metacognition-llms
repo_url: https://github.com/christaashok/metacognition-llms

theme:
  name: material
  custom_dir: docs/overrides
  logo: images/logo.png
  favicon: images/favicon.png
  palette:
    - scheme: default
      primary: indigo
      accent: cyan
  features:
    - navigation.tabs
    - navigation.top
    - navigation.instant
    - navigation.tracking
    - toc.integrate
    - content.code.copy
    - content.action.edit

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Framework:
      - MSV Components: msv-components.md
      - System Transitions: system-transitions.md
      - Dual-Process Theory: dual-process.md
  - Demo: demo.md
  - Team: team.md
  - Project Details: project-details.md

markdown_extensions:
  - admonition
  - footnotes
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - pymdownx.superfences

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
